<template>
<div style="height:50%;width:50%;margin-left:25%">
    <h1 class="text-center">Esses são os times</h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height:350px;width:50px" src="../assets/corinthians.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  style="height:350px;width:30px" src="../assets/palmeiras.png" class="d-block w-100" alt="...">
    </div>
   
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>