<template>
    <footer>
    <div class="container text-center mt-0"> 
        Footer da aplicação feito especificamente por João Victor
    </div>
    </footer>
</template>

<script>
export default {
    
}
</script>


<style scoped>
footer {
    margin-top: 40px;
    padding: 15px;
    background-color: #090a0a;
    opacity: 0.7;
    color: cornsilk;
}
</style>