<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Projeto 3</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="#">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Times</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Classificação</a>
      </li>
     
    </ul>
  </div>
</nav>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
a:link {
  color: rgb(17, 134, 236);
}
</style>