<template>
<div>
    <h1 class="text-center">Esse time é o {{name}}</h1>
    <p class="text-center">Esse time tem {{titulos}} títulos</p>
</div>
   
</template>

<script>
export default {
    props:['name','titulos']
    
}
</script>

<style  scoped>

</style>