<template>
<div id="app">
 <AppHeader/>
 <AppContent/>
 <AppTime name="corinthians" titulos="45" ></AppTime>
 <AppFooter/>
</div>
</template>

<script>
import AppHeader from './components/AppHeader'; 
import AppFooter from './components/AppFooter';
import AppContent from './components/AppContent';
import AppTime from './components/AppTime';

export default {
  name: 'App',
  components: {
    AppHeader,
    AppFooter,
    AppContent,
    AppTime
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
</style>
