<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js - Passando dados</title>
</head>
<body>
    <div id="data">
     <h1 v-bind:title="title" >{{message}}</h1>

     <h2>Em upper case: {{message.toUpperCase()}}</h2>

     <p>Meu nome é:  {{person.name}}</p>

     <p>Minha idade é: {{person.age}}</p>

     
     <span v-html="tag"></span>


    </div>



    <script src="vue.js"></script>
    <script>

      let app = new Vue({
          el:'#data',
          data:{
                message:'Mensagem vai ser exibida',
                person: {name:'João',
                age:15
                },
            tag: '<button>oi</button>',
            title:'kkkkkkkk',
                
          }
      })
    </script>
</body>
</html>