<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js - Criando métodos</title>
</head>
<body>
    <div id="data">
  
{{message}}

<input type="text" placeholder="digite a mensagem para ser invertida" v-on:blur="replaceMessage($event.target.value)">

    </div>



    <script src="vue.js"></script>
    <script>

      let app = new Vue({
          el:'#data',
          data:{
              message:'bom dia',
          },
          methods:{
              reverseMessage: function(){
                  this.message = this.message.split('').reverse().join('');
              },
              replaceMessage: function(newmessage){
                  this.message = newmessage;
              }
          }
          
      })
    </script>
</body>
</html>