<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js - Computed properties</title>
</head>
<body>
<div id="computed">
<h2>Nome: {{fullname}} </h2>



</div>


    <script src="vue.js"></script>
    <script>

      let app = new Vue({
          el:'#computed',
          data:{
              person:{
                  name:'joao',
                  lastname:'victor'
              }
          },
          computed:{
              get: function(){
                  return this.person.name + ' ' + this.person.lastname;
              },

              set: function (novo){
                  let name = novo.split(' ');
                  this.person.name = name[0];
                  this.person.lastname = name[1];
              }
          }
          
      })
    </script>
</body>
</html>