<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js - Computed properties</title>
</head>
<body>
<div id="watchers">

    <ol>
        <li v-for="state in states">{{state.nome}}</li>
    </ol>


</div>


<script src="vue.js"></script>
<script>

    let app = new Vue({
        el:'#watchers',
        data:{
            country:'Brasil',
            states: [],
        },
        created(){
            fetch('https://servicodados.ibge.gov.br/api/v1/localidades/estados')
            .then(response=>{
                response.json().then(data=>{
                    this.states = data;
                })
            })
        }


    })
</script>
</body>
</html>