<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-if V-else</title>
</head>
<body>
<div id="watchers">

   <h1 v-if="show">Jonnyzila</h1>
    <h3 key="disponivel" v-if="tickets >= 50">Há ingressos</h3>
    <h3 v-else-if="tickets >= 1">Ingressos acabando</h3>
    <h3 key="indisponivel" v-else>Ingressos esgotados</h3>

</div>


<script src="vue.js"></script>
<script>

    let app = new Vue({
        el:'#watchers',
        data:{
            show:true,
            tickets:100
        },

    })
</script>
</body>
</html>