<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-html</title>
</head>
<body>
<div id="watchers">
    <h1>{{name}}</h1>
    <div v-once>{{age}}</div>

</div>


<script src="vue.js"></script>
<script>

    let app = new Vue({
        el:'#watchers',
        data:{
            name:'joao',
            age:15
        },

    })
</script>
</body>
</html>