<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-for</title>
</head>
<body>
<div id="watchers">

    <ul>
        <li v-for="state in states">{{state}}</li>
    </ul>


</div>


<script src="vue.js"></script>
<script>

    let app = new Vue({
        el:'#watchers',
        data:{
            country:'Brasil',
            states: ['nucleo', 'samamba','candanga city', 'extra extra','macacolandia'],
        },



    })
</script>
</body>
</html>