<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-model</title>
</head>
<body>
<div id="app">

    <p v-show="mostrar" v-on:click="nmostra()">{{message}}</p>

</div>


<script src="vue.js"></script>
<script>

    let app = new Vue({
        el:'#app',
        data:{
            message:'VUE JS É TOP',
            mostrar:true
        },
        methods:{
                nmostra(){
                    app.mostrar = false
                }
        }
    })
</script>
</body>
</html>