<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-on</title>
</head>
<body>
<div id="app">

    <p  v-on:click="nmostra()">{{message}}</p>
    <input  type="text" placeholder="filtrar pessoas"
            v-on:keyup="filtra">
    <ul>
        <li v-for="person in personsfilter">{{person}}</li>
    </ul>

</div>


<script src="vue.js"></script>
<script>

    let app = new Vue({
        el:'#app',
        data:{
            message:'VUE JS É TOP',
            event: 'click',
            persons:['jonny','guigs','dan','lucas','gustavo','felipe','carlos','fagner','gil'],
            personsfilter: []
        },
        methods:{
            nmostra(){
                app.mostrar = false;
            },
            filtra(event){
               this.personsfilter  = this.persons.filter(name =>{
                    return name.toUpperCase().includes(event.target.value.toUpperCase());
                })
            }
        }
    })
</script>
</body>