<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transições</title>
</head>
<body>
<div id="app">

    <transition name="first">
<h2 v-if="show">OLHA PARA ISTO</h2>
    </transition>
</div>

<style>
    .first-enter-active{
        transition: opacity 0.5s ease;
    }
    .first-leave-active{
        transition: opacity 0.5s ease-out;
    }
    .first-enter, .first-leave-to{
        opacity: 0;
    }
</style>

<script src="vue.js"></script>
<script>


    let app = new Vue({
        el:'#app',
        data:{
            show:true
        }
    })
</script>
</body>