<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
</head>
<body>
<div id="app">
<button v-on:click="add">Clique para adicionar</button>
    <h1>{{counter}}</h1>

</div>

<script src="vue.js"></script>
<script>


    let app = new Vue({
        el:'#app',
        data:{
            counter:0
        },
        methods:{
            add(){
                this.counter++
            }

        }
    })
</script>
</body>