<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente global</title>

</head>
<body>
<div id="app">
    <componente-global text="ola"></componente-global>
    <componente-global text="onnla"></componente-global>
    <componente-global text="kkkkk"></componente-global>
    <componente-global text="nossa"></componente-global>
    <componente-global-list></componente-global-list>
</div>

<script src="vue.js"></script>
<script>
    Vue.component('componente-global',{
        props:['text'],
        template:'<div><h4>{{text}}</h4></div>'
    })

    Vue.component('componente-global-list',{
            template: '<ul><li v-for="person in names">{{person}}</li></ul>',
            data: function (){
                return{
                        names: ['joao', 'lucas', 'gusta']
                }
        }
    })

    let app = new Vue({
        el:'#app',
        data:{

        },
        methods:{

        }
    })
</script>
</body>