<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente local</title>

</head>
<body>
<div id="app">
<list></list>
</div>

<script src="vue.js"></script>
<script>
    let itemListComponent = {
        props:['name'],
        template: '<li >{{name}}</li>',
    }

  let listComponent = {
      template: '<ul><listItem v-for="person in names" v-bind:name="person">{{name}}</listItem></ul>',
      data: function (){
          return{
              names: ['joao', 'lucas', 'gusta']
          }
      },
      components: {
          listItem:itemListComponent
      }
  }


    let app = new Vue({
        el:'#app',
        data:{

        },
        methods:{

        },
        components:{
            list:listComponent
        }
    })
</script>
</body>