<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transições</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div id="app" style="margin-top: 5%">

<div style="margin-left: 35%">
    <a href="#" @click.prevent="mudar('login')">Login de usuário</a>
    <a style="margin-left: 10%" href="#" @click.prevent="mudar('cadastro')">Cadastro de usuário</a>
</div>
        <transition name="first">
        <div style="width: 50%;margin-left: 25%" class="login" v-if="action == 'login'">
            <h1 class="text-center">Formulário de login</h1>
            <form method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email para login</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>

                <button type="submit" class="btn btn-primary" @click.prevent="sendForm()">Logar</button>
            </form>
        </div>

        <div  style="width: 50%;margin-left: 25%" class="register" v-else>
            <h1 class="text-center">Formulário de cadastro</h1>
            <form method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email para cadastro</label>
                    <input type="email" class="form-control"  aria-describedby="emailHelp">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" >
                </div>

                <button type="submit" class="btn btn-primary" @click.prevent="sendForm()">Cadastrar</button>
            </form>

        </div>

        </transition>
    <div class="alert alert-success" role="alert" v-show="isFormSent">
        Formulário enviado com sucesso
    </div>

</div>



<style>
    .first-enter-active{
        transition: opacity 0.5s ease;
    }
    .first-leave-active{
        transition: opacity 0.5s ease-out;
    }
    .first-enter, .first-leave-to{
        opacity: 0;
    }
</style>

<script src="../vue.js"></script>
<script>


    let app = new Vue({
        el:'#app',
        data:{
            action:'login',
            login:{
                email:'jvcorreia@gmail.com',
                senha:'123456'
            },
            isFormSent:false
        },
        methods:{
            mudar(e){
                this.action = e;
            },
            sendForm(){
                this.isFormSent = true;
            }
        }
    })
</script>
</body>
</html>