<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteúdo do blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Blogzada</a>

        <div v-if="isLogged" class="collapse navbar-collapse">
            <button v-on:click="desloga" class="btn btn-outline-success my-2 my-sm-0" style="" type="submit">Logout</button>
            <p style="margin-top: 1.4%;margin-left: 2%">Bem vindo, amigo</p>
        </div>
        <div v-else class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <button v-on:click="loga" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </div>

    </nav>


    <h1 v-show="isLogged" class="text-center">Abaixo estão seus posts</h1>
    <div v-show="isLogged" v-for="post in posts" class="card text-white bg-primary mb-3" style="max-width: 18rem; text-align: center;margin-left: 42%">
        <div class="card-header">{{post.titulo}}</div>
        <div class="card-body">
            <p class="card-text">{{post.descricao}}</p>
        </div>
    </div>


</div>


<script src="../vue.js"></script>
<script>


    let app = new Vue({
        el:'#app',
        data:{
            isLogged:false,
            posts:[{
                titulo: 'Post 1',
                descricao: 'Era um dia tão lindo, pena que acabou.'
            },{
                titulo: 'Post 2',
                descricao: 'Meu deus como esse time é ruim! essa diretoria precisa acordar..'
            },{
                titulo: 'Post 3',
                descricao: 'Hoje vou comer purê de batata'
            },{
                titulo: 'Post 4',
                descricao: 'é isso ai, se o pais não combater as queimadas em breve não teremos mais matas.'
            },{
                titulo: 'Post 5',
                descricao: 'O dia foi cheio porem ao final do dia vi minha familia (:'
            },{
                titulo: 'Post 6',
                descricao: 'kkkkkkkkkkkkkkk esse meme novo é muito legal'
            },]
        },
        methods:{
          loga(){
              app.isLogged = true
          },
            desloga(){
                app.isLogged = false
            }
        }
    })
</script>
</body>